<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shbak.kiosk.repository.OrderItemMapper">
    <select id="findOrderItemById" resultType="com.shbak.kiosk.entity.OrderItem">
        SELECT * FROM order_item where id = #{id}
    </select>

    <insert id="addOrderItem">
        insert into order_item(id, menu_id, quantity, order_id) values (#{id}, #{menuId}, #{quantity}, #{orderId})
    </insert>

    <delete id="deleteOrderItemById">
        delete from order_item where id = #{id};
    </delete>
</mapper>