<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shbak.kiosk.repository.OrderItemMapper">
    <select id="findOrderItemById" resultType="com.shbak.kiosk.entity.OrderItem">
        SELECT * FROM order_item where id = #{id}
    </select>

    <insert id="addOrderItem" parameterType="com.shbak.kiosk.entity.OrderItem" useGeneratedKeys="true" keyProperty="id">
        insert into order_item(menu_id, quantity, order_id) values (#{menuId}, #{quantity}, #{orderId})
    </insert>

    <delete id="deleteOrderItemById" parameterType="long">
        delete from order_item where id = #{id};
    </delete>
</mapper>